SUPABASE_URL=https://ydkcgcstimyedhffqyvp.supabase.co

SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlka2NnY3N0aW15ZWRoZmZxeXZwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDk0NjQ3MSwiZXhwIjoyMTAwNTIyNDcxfQ.km_CZdk9pd7lPUv_9Z8NOaM0dyS3oDeGMGW3XtSFFIY
